build**
dist**
RLA.egg-info**
.idea**
**.pyc
**/archive_tester/**
**/checkpoint/**
**/code/**
**/results/**
**/log/**
**/arc/**
**/.ipynb_checkpoints/*
**/.DS_Store
test/test_data_root/*
test/target_data_root/*
**/private_config.py
